# Diabetes CDC Dataset Cleanup

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

## Diabetes percentage in the US from 2000-2019

In [3]:
data = pd.read_csv("./resources/DiabetesNationalpercent.csv", skiprows=2, delimiter=',')

In [4]:
data.head()

,Year,Total - Percentage,Total - Lower Limit,Total - Upper Limit,Unnamed: 4
0,2000,6.0,5.7,6.3,NaN
1,2001,6.4,6.1,6.8,NaN
2,2002,6.5,6.2,6.8,NaN
3,2003,6.6,6.3,6.9,NaN
4,2004,7.0,6.7,7.3,NaN

In [5]:
data.shape

(21, 5)

In [6]:
nat = data.iloc[:20,0:4]
nat.head()

   Year  Total - Percentage  Total - Lower Limit  Total - Upper Limit
0  2000                 6.0                  5.7                  6.3
1  2001                 6.4                  6.1                  6.8
2  2002                 6.5                  6.2                  6.8
3  2003                 6.6                  6.3                  6.9
4  2004                 7.0                  6.7                  7.3

In [7]:
nat.shape

(20, 4)

In [8]:
nat.to_csv(r'resources/Cleaned Data/DiabetesNationalPercent.csv', encoding='utf-8', index=False)

## Diabetes Percentage by State

In [17]:
data3 = pd.read_csv("./resources/DiabetesAtlaspercentbystate.csv", skiprows=2, skipfooter=1, delimiter=',', engine='python')

In [29]:
data3.head()

   Year             State Percentage LowerLimit UpperLimit
0  2000  Median of States          6        5.7        6.3
1  2001  Median of States        6.3          6        6.9
2  2002  Median of States        6.7        6.2        7.1
3  2003  Median of States          7        6.4        7.4
4  2004  Median of States        6.9        6.4        7.4

In [19]:
data3.tail()

      Year          State Percentage LowerLimit UpperLimit
1040  2018  West Virginia       13.4       12.5       14.5
1041  2018      Wisconsin        7.4        6.6        8.3
1042  2018        Wyoming        7.9        7.1        8.8
1043  2018           Guam       15.4       13.2       17.8
1044  2018    Puerto Rico       13.1       12.2       14.1

In [20]:
data3.to_csv(r'resources/Cleaned Data/DiabetesPercentbyState.csv', encoding='utf-8', index=False)

## Diabetes Total by State

In [21]:
data4 = pd.read_csv("./resources/DiabetesAtlastotalbystate.csv", skiprows=2, skipfooter=1, delimiter=',', engine='python')

In [22]:
data4.head()

   Year       State   Number
0  2000     Alabama   240517
1  2000      Alaska    16460
2  2000     Arizona   210776
3  2000    Arkansas   118510
4  2000  California  1664337

In [23]:
data4.tail()

      Year                       State   Number
1021  2018                   Wisconsin   392965
1022  2018                     Wyoming    38658
1023  2018                        Guam    14607
1024  2018                 Puerto Rico   421569
1025  2018  Virgin Islands of the U.S.  No Data

In [30]:
data4.to_csv(r'resources/Cleaned Data/DiabetesTotalbyState.csv', encoding='utf-8', index=False)

## Diabetes Percent by State (Male)

In [31]:
data5 = pd.read_csv("./resources/DiabetesAtlaspercentbystatemale.csv", skiprows=2, skipfooter=1, delimiter=',', engine='python')

In [32]:
data5.head()

   Year             State Percentage LowerLimit UpperLimit
0  2000  Median of States        6.1        5.8        6.5
1  2001  Median of States        6.6          6          7
2  2002  Median of States        6.7        6.4        7.2
3  2003  Median of States        7.3          7        7.7
4  2004  Median of States        7.2        6.8        7.7

In [33]:
data5.tail()

      Year          State Percentage LowerLimit UpperLimit
1040  2018  West Virginia       14.8       13.3       16.4
1041  2018      Wisconsin        9.5        8.1         11
1042  2018        Wyoming        8.8        7.6       10.2
1043  2018           Guam         15       11.8       18.8
1044  2018    Puerto Rico       14.7         13       16.5

In [34]:
data5.to_csv(r'resources/Cleaned Data/DiabetesPercentbyStateMale.csv', encoding='utf-8', index=False)

## Diabetes Percent by State (Female)

In [35]:
data6 = pd.read_csv("./resources/DiabetesAtlaspercentbystatefemale.csv", skiprows=2, skipfooter=1, delimiter=',', engine='python')

In [36]:
data6.head()

   Year             State Percentage LowerLimit UpperLimit
0  2000  Median of States          6        5.5        6.4
1  2001  Median of States        6.5        5.8        6.8
2  2002  Median of States        6.6        6.3        7.3
3  2003  Median of States          7        6.5        7.5
4  2004  Median of States        6.4        6.1        7.3

In [37]:
data6.tail()

      Year          State Percentage LowerLimit UpperLimit
1040  2018  West Virginia       17.5       15.9       19.2
1041  2018      Wisconsin        7.9        6.7        9.2
1042  2018        Wyoming        8.7        7.5       10.1
1043  2018           Guam       12.4        9.8       15.5
1044  2018    Puerto Rico       16.1       14.6       17.7

In [38]:
data6.to_csv(r'resources/Cleaned Data/DiabetesPercentbyStatFemale.csv', encoding='utf-8', index=False)

## US POPULATION

In [39]:
data7 = pd.read_csv("./resources/USPOP.csv")

In [42]:
census = data7.iloc[:20]
census

    Year  Total Population
0   2019         328239523
1   2018         327167434
2   2017         325147121
3   2016         323071342
4   2015         320742673
5   2014         318386421
6   2013         316057727
7   2012         313874218
8   2011         311580009
9   2010         309326085
10  2009         306771529
11  2008         304093966
12  2007         301231207
13  2006         298379912
14  2005         295516599
15  2004         292805298
16  2003         290107933
17  2002         287625193
18  2001         284968955
19  2000         282162411

In [44]:
census.to_csv(r'resources/Cleaned Data/USPOPSELECT.csv', encoding='utf-8', index=False)

## Diabetes percentage of every county in the US for 2018

### What is CDC's Social Vulnerability Index (SVI)?

The Centers for Disease Control and Prevention Social Vulnerability Index, or CDC SVI, is made up of four aggregated themes and 15 individual variables. The four CDC SVI themes include Socioeconomic Status, Household Composition & Disability, Minority Status & Language, and Housing Type & Transportation. Social vulnerability scores for each of these themes are derived from normalized percentile ranks for each CDC SVI variable. There are 15 CDC SVI variables – living below the poverty threshold, unemployment, per capita income, no high school diploma, being age 65 years and older, being age 17 years and younger, living with a disability, single-parent households, being a racial/ethnic minority, limited English-speaking skills, multi-unit housing structures, mobile home, crowded housing, no household vehicle access, and group quarters housing – for which social vulnerability scores are also derived from normalized percentile ranks of Census Bureau raw count and percentage data. For more information please visit the CDC SVI website.

### What is County FIPS?

FIPS codes are numbers which uniquely identify geographic areas. The number of digits in FIPS codes vary depending on the level of geography. State-level FIPS codes have two digits, county-level FIPS codes have five digits of which the first two are the FIPS code of the state to which the county belongs.

In [10]:
data1 = pd.read_csv("resources/DiabetesAtlasData2018.csv", skiprows=2, skipfooter=1, delimiter=',', engine='python')

In [11]:
data1.head()

,Year,County_FIPS,County,State,Diagnosed Diabetes Percentage,Overall SVI
0,2018,1001,Autauga County,Alabama,9.5,0.4354
1,2018,1003,Baldwin County,Alabama,8.4,0.2162
2,2018,1005,Barbour County,Alabama,13.5,0.9959
3,2018,1007,Bibb County,Alabama,10.2,0.6003
4,2018,1009,Blount County,Alabama,10.5,0.4242

In [12]:
data1.tail()

,Year,County_FIPS,County,State,Diagnosed Diabetes Percentage,Overall SVI
3136,2018,56037,Sweetwater County,Wyoming,7.8,0.3701
3137,2018,56039,Teton County,Wyoming,3.8,0.1127
3138,2018,56041,Uinta County,Wyoming,8.4,0.4522
3139,2018,56043,Washakie County,Wyoming,7.4,0.3732
3140,2018,56045,Weston County,Wyoming,7.6,0.3475

In [13]:
data1.to_csv(r'resources/Cleaned Data/Diabetesbycounty2018.csv', encoding='utf-8', index=False)