# Diabetes CDC Dataset Cleanup

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

## Diabetes percentage in the US from 2000-2019

In [2]:
data = pd.read_csv("resources/DiabetesNational00-19.csv", skiprows=2, delimiter=',')

In [3]:
data.head()

,Year,Total - Percentage,Total - Lower Limit,Total - Upper Limit,Unnamed: 4
0,2000,6.0,5.7,6.3,NaN
1,2001,6.4,6.1,6.8,NaN
2,2002,6.5,6.2,6.8,NaN
3,2003,6.6,6.3,6.9,NaN
4,2004,7.0,6.7,7.3,NaN

In [4]:
data.shape

(21, 5)

In [5]:
nat = data.iloc[:20,0:4]
nat.head()

   Year  Total - Percentage  Total - Lower Limit  Total - Upper Limit
0  2000                 6.0                  5.7                  6.3
1  2001                 6.4                  6.1                  6.8
2  2002                 6.5                  6.2                  6.8
3  2003                 6.6                  6.3                  6.9
4  2004                 7.0                  6.7                  7.3

In [6]:
nat.shape

(20, 4)

In [7]:
nat.to_csv(r'DiabetesUSA2000-2019.csv', encoding='utf-8', index=False)

## Diabetes percentage of every county in the US for 2018

### What is CDC's Social Vulnerability Index (SVI)?

The Centers for Disease Control and Prevention Social Vulnerability Index, or CDC SVI, is made up of four aggregated themes and 15 individual variables. The four CDC SVI themes include Socioeconomic Status, Household Composition & Disability, Minority Status & Language, and Housing Type & Transportation. Social vulnerability scores for each of these themes are derived from normalized percentile ranks for each CDC SVI variable. There are 15 CDC SVI variables – living below the poverty threshold, unemployment, per capita income, no high school diploma, being age 65 years and older, being age 17 years and younger, living with a disability, single-parent households, being a racial/ethnic minority, limited English-speaking skills, multi-unit housing structures, mobile home, crowded housing, no household vehicle access, and group quarters housing – for which social vulnerability scores are also derived from normalized percentile ranks of Census Bureau raw count and percentage data. For more information please visit the CDC SVI website.

### What is County FIPS?

FIPS codes are numbers which uniquely identify geographic areas. The number of digits in FIPS codes vary depending on the level of geography. State-level FIPS codes have two digits, county-level FIPS codes have five digits of which the first two are the FIPS code of the state to which the county belongs.

In [8]:
data1 = pd.read_csv("resources/DiabetesAtlasData2018.csv", skiprows=2, skipfooter=1, delimiter=',', engine='python')

In [9]:
data1.head()

,Year,County_FIPS,County,State,Diagnosed Diabetes Percentage,Overall SVI
0,2018,1001,Autauga County,Alabama,9.5,0.4354
1,2018,1003,Baldwin County,Alabama,8.4,0.2162
2,2018,1005,Barbour County,Alabama,13.5,0.9959
3,2018,1007,Bibb County,Alabama,10.2,0.6003
4,2018,1009,Blount County,Alabama,10.5,0.4242

In [10]:
data1.tail()

,Year,County_FIPS,County,State,Diagnosed Diabetes Percentage,Overall SVI
3136,2018,56037,Sweetwater County,Wyoming,7.8,0.3701
3137,2018,56039,Teton County,Wyoming,3.8,0.1127
3138,2018,56041,Uinta County,Wyoming,8.4,0.4522
3139,2018,56043,Washakie County,Wyoming,7.4,0.3732
3140,2018,56045,Weston County,Wyoming,7.6,0.3475

In [12]:
data1.to_csv(r'Diabetesbycounty2018.csv', encoding='utf-8', index=False)